* {
    box-sizing: border-box;
}

header{
    padding: 10px;
}
body{
    background-image: url(../images/networks.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    margin: 0;
}
.header{
    text-align: center;
    font-size: 50px;
    background-color: beige;
    opacity: 0.8;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 25%;
    margin-right: 25%;
    padding: 5%;
}
.row{
  text-align: center;
}
.row:after {
    content: "";
    display: table;
    clear: both;

}
.block{
    float: left;
    width: 500px;
    padding: 30px;
    height: 100px;
    text-align: center;
    background-color: beige;
    opacity: 0.8;
    margin: 10px;
}

.term{
    background-color: beige;
    float: left;
    width: 33.33%;
    padding: 30px;
    height: 200px;
    text-align: center;
}

#contact{
    background-color: #333;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    color: beige;
    font-family: arial;
    font-size: 12px
}
.button{
    -webkit-appearance: button;
    -moz-appearance: button;
    width: 30%;
    text-decoration: none;
    color: initial;

}

.button:hover{
    background-color: beige;
}

.size{
    padding: 30px;
}
