* {
    margin: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Waukegan';
    src: url('Waukegan-LDO-Extended.ttf.woff')
}

#background {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(slu.jpg);
    width: 100%;
    height: 100%;
    position: fixed !important;
    left: 0px;
    right: 0px;
    z-index: 1;
    background-size: cover;
    overflow: hidden;
}

.logo {
    position: fixed;
    z-index: 6;
    height: 100px;
}

#title {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

#title h2 {
    font-family: 'Waukegan';
    font-size: 50px;
    border-style: solid;
    padding-top: 40px;
    padding-bottom: 40px;
}

input + label {
    position: fixed;
    top: 25px;
    right: 40px;
    height: 20px;
    width: 15px;
    z-index: 5;
}

input + label span {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    margin-top: -1px;
    left: 0;
    display: block;
    background: #020304;
    transition: .5s;
    background-color: #ffffff;
}

input + label span:first-child {
    top: 3px;
}

input + label span:last-child {
    top: 16px;
}

input + label:hover {
    cursor: pointer;
}

input:checked + label span {
    opacity: 0;
    top: 50%;
}

input:checked + label span:first-child {
    opacity: 1;
    transform: rotate(405deg);
}

input:checked + label span:last-child {
    opacity: 1;
    transform: rotate(-405deg);
}

input ~ nav > ul > li > a:hover {
    color: #ff9900;
}

input ~ nav {
    background: #333333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    transition: .5s;
    transition-delay: .5s;
    overflow: hidden;
    height: 80px;
}

input ~ nav > ul {
    text-align: center;
    position: absolute;
    top: 35%;
    left: 20%;
    right: 20%;
    list-style-type: none;
}

input ~ nav > ul > li {
    opacity: 0;
    transition: .5s;
    transition-delay: 0s;
}

input ~ nav > ul > li > a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-family: sans-serif;
    display: block;
    padding: 30px;
    color: #ffffff;
}

input:checked ~ nav {
    height: 100%;
    transition-delay: 0s;
}

input:checked ~ nav > ul > li {
    opacity: 1;
    transition-delay: .5s;
}


/*unequal column*/

.container {
    display: flex;
    padding: 1em;
}

.unequal {
    background-color: hsl(2002, 55%, 55%);
    padding-top: 1.5em;
}

.unequal h2 {
    text-align: center;
}

.item {
    flex: 1;
    align-self: flex-start;
    padding: 1em;
    margin: .6em;
    background-color: white;
}

.item:first-child {
    background-color: hsl(2002, 55%, 55%);
    padding: 0px;
}

.item:nth-child(2) {
    flex: 3 3 0%;
}


/*equal column*/

.content-wrapper {
    position: absolute;
    top: 87%;
    width: 100%;
    z-index: 2;
    background: white;
}

.row {
    display: flex;
    flex-direction: column;
}

.col {
    flex: 1;
    padding: .6em;
    margin: .6em;
    color: #FFF;
    background-color: hsla(195, 60%, 50%, 1);
}

footer {
    position: fixed;
    color: #7f8c8d;
    background: #111;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-weight: normal;
    font-size: 12;
    line-height: 55px;
}

@media screen and (min-width: 500px) {
    .row {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (max-width:600px) {
    .container {
        flex-flow: column wrap;
    }
}