html {
  background-color: #CCFFCC;
}

* {
  margin: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Waukegan';
  src: url('../css/Waukegan-LDO-Extended.ttf.woff')
}

h1 {
  text-align: center;
  font-family: "Waukegan";
}

h2, h3, h4 {
  font-family: "Waukegan";
}

.logo {
  position: fixed;
  z-index: 6;
  height: 80px;
}

input+label[for="menu"] {
  position: fixed;
  top: 25px;
  right: 40px;
  height: 20px;
  width: 15px;
  z-index: 5;
}

input+label[for="menu"] span {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  margin-top: -1px;
  left: 0;
  display: block;
  background: #020304;
  transition: .5s;
  background-color: #ffffff;
}

input+label[for="menu"] span:first-child {
  top: 3px;
}

input+label[for="menu"] span:last-child {
  top: 16px;
}

input+label[for="menu"]:hover {
  cursor: pointer;
}

input:checked+label[for="menu"] span {
  opacity: 0;
  top: 50%;
}

input:checked+label[for="menu"] span:first-child {
  opacity: 1;
  transform: rotate(405deg);
}

input:checked+label[for="menu"] span:last-child {
  opacity: 1;
  transform: rotate(-405deg);
}

input~nav>ul>li>a:hover {
  color: #f8c424;
}

input~nav {
  background: hsl(2002, 55%, 55%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  transition: .5s;
  transition-delay: .5s;
  overflow: hidden;
  height: 70px;
}

input~nav>ul {
  text-align: center;
  position: absolute;
  top: 15%;
  left: 20%;
  right: 20%;
  list-style-type: none;
}

input~nav>ul>li {
  opacity: 0;
  transition: .5s;
  transition-delay: 0s;
}

input~nav>ul>li>a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-family: sans-serif;
  display: block;
  padding: 10px;
  color: #ffffff;
}

input:checked~nav {
  height: 100%;
  transition-delay: 0s;
}

input:checked~nav>ul>li {
  opacity: 1;
  transition-delay: .5s;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.css {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  height: 500px;
  background-color: aliceblue;
}

.css img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  padding-bottom: 0;
}

.css div {
  float: left;
  padding: 10%;
  padding-left: 10%;
  padding-right: 10%;
  background-color: aliceblue;
}

main {
  background-color: aliceblue;
  padding: 5%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
  clear: both;
  margin-top: 5%;
}

main img {
  width: 400px;
  height: auto;
}

.css {
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
}

.unequal-column {}

.unequal-column h2 {
  font-family: 'Waukegan';
  text-align: center;
}

.item {
  background-color: aliceblue;
  flex: 1;
  align-self: flex-start;
  margin: .6em;
  background-color: white;
}

.item:first-child {
  background-color: aliceblue;
}

.item:nth-child(2) {
  background-color: aliceblue;
  flex: 3 3 0%;
}

footer {
  font-family: 'Waukegan';
  position: fixed;
  color: #7f8c8d;
  background: #111;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-weight: normal;
  font-size: 12;
  line-height: 40px;
}