* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Waukegan';
}

@font-face {
    font-family: 'Waukegan';
    src: url('Waukegan-LDO-Extended.ttf.woff')
}

#background {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/slu.jpg);
    width: 100%;
    height: 100%;
    position: fixed !important;
    left: 0px;
    right: 0px;
    z-index: 1;
    background-size: cover;
    overflow: hidden;
}

#logo img {
    width: 300px;
    height: auto;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0px 0px 10px;
}

#title {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

#title h2 {
    font-family: 'Waukegan';
    font-size: 50px;
    border-style: solid;
    padding-top: 40px;
    border-width: 5px;
    padding-bottom: 40px;
    border-color: #f8c424;
}

#title {
    float: left;
    padding: 22px 0 0 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

#title {
    float: left;
    padding: 22px 0 0 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

header {
    z-index: 9999;
    position: fixed;
    width: 100%;
    background-color: #3F51B5;
    font-size: 26px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
}

header input {
    display: none;
}

nav ul {
    display: none;
}

nav a {
    color: white;
    display: block;
    padding: 28px 20px 28px 20px;
    background-color: #f8c424;
}

nav a:hover {
    background-color: #f8c424;
}

header label {
    color: #fff;
    display: block;
    position: relative;
    text-align: right;
    padding-right: 4em;
    padding-top: 22px;
    padding-bottom: 22px;
}

header .burger {
    position: absolute;
    cursor: pointer;
    user-select: none;
    top: 0.8em;
    right: 1em;
    width: 2em;
    height: 2em;
}

header .burger span {
    display: block;
    height: 4px;
    margin: 5px;
    border-radius: 5px;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

header input:checked ~ nav ul {
    display: block;
}

header input:checked ~ label > .burger > span:nth-child(2) {
    width: 0;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

header input:checked ~ label > .burger > span:nth-child(1) {
    position: relative;
    top: 9px;
    transform: rotate(45deg);
    transition: all 0.3s ease-in-out;
}

header input:checked ~ label > .burger > span:nth-child(3) {
    position: relative;
    top: -9px;
    transform: rotate(-45deg);
    transition: all 0.3s ease-in-out;
}

.content-wrapper {
    position: absolute;
    top: 87%;
    width: 100%;
    z-index: 2;
    background: white;
}

.content-wrapper:last-child {
    padding-bottom: 60px;
}

.container {
    display: flex;
    padding: 1em;
}

.unequal-column {
    background-color: #3F51B5;
    padding-top: 3em;
}

.unequal-column h2 {
    font-family: 'Waukegan';
    text-align: center;
}

.item {
    flex: 1;
    align-self: flex-start;
    padding: 1em;
    margin: .6em;
    background-color: white;
}

.item:first-child {
    background-color: #3F51B5;
    padding: 0px;
}

.item:nth-child(2) {
    flex: 3 3 0%;
}

.equal-column {
    text-align: center;
    padding-top: 3em;
}

.equal-column h2 {
    text-align: center;
    font-family: 'Waukegan'
}

.column {
    float: left;
    width: 20%;
    height: 100%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.team {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.info {
    padding-bottom: 10px;
}

.info::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}

footer {
    font-family: 'Waukegan';
    position: fixed;
    color: #7f8c8d;
    background: #111;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-weight: normal;
    font-size: 12;
    line-height: 40px;
}

@media screen and (max-width:600px) {
    .column {
        width: 100%;
        display: block;
    }
    .container {
        flex-flow: column wrap;
    }
}

@media screen and (min-width: 768px) {
    /*navigation */
    header label {
        display: none;
    }
    nav ul {
        display: block;
        text-align: right;
    }
    nav ul li {
        display: inline-block;
    }
    nav ul a {
        background-color: transparent;
    }
}
